
.my-header {
    
	background-color:grey;
	text-align:center;
	color:white;
	padding:10px;
	font-size:30;
	font-weight:italic;
	
}
.page-header {
    
	background-color:#ffffff;
	text-align:center;
	color:black;
	padding:10px;
	font-size:30;
	font-style:italic;
	
}

.my-footer {
   background-color:grey;
   padding:10px;
   text-align:center;
   font-family:italic;
   color:black;
 }
 
 
 