
.my-header {
    
	background-color:grey;
	text-align:center;
	color:white;
	padding:10px;
	font-size:30;
	font-weight:italic;
	
}
.nav-tabs{
        background-color:#FFFFCC;
		color:black;
}
.page-header {
    background-image:eight.jpg;
	width:100%; 
	height:30%;
	background-color:#B3B3A3;
	text-align:center;
	color:black;
	padding:10px;
	font-size:30;
	font-style:italic;
	
}

.my-footer {
   background-color:grey;
   padding:10px;
   text-align:center;
   font-family:italic;
   color:black;
 }
 
 
 